{% extends "base.html" %}
{% block title %}Hora{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
{% endblock %}

{% block content %}
<h5 class="offcanvas-title titulo">Predicción para la hora seleccionada</h5>
<div class="data">
    <label class="form-label">Fecha: </label>
    <input type="text" class="form-control col-xs-3" id="fechashow" value="{{fechashow}}" readonly></br>
    <label class="form-label">Predicción: </label>
    <input type="text" class="form-control col-xs-3" id="predvalue" value="{{predvalue}}" readonly></br>
    <label class="form-label">Valor Real: </label>
    <input type="text" class="form-control col-xs-3" id="realvalue" value="{{realvalue}}" readonly></br>
</div>
{% endblock %}