{% extends "base.html" %}
{% block title %}Semana{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
{% endblock %}

{% block content %}

<h5 class="offcanvas-title titulo">Predicción para la semana seleccionada</h5>

<div class="data">
    <label class="form-label">Fecha: </label>
    <input type="text" class="form-control col-xs-3" id="fechashow" value="{{fechashow}}" readonly></br>

    <div class="table-responsive-sm">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Real</th>
                <th scope="col">Predicción</th>
            </tr>
        </thead>
        <tbody>
            {%for i in range(0, len)%}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ realvalues[i] }}</td>
                <td>{{ predvalues[i] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}