.botones {
    text-align: center;
    padding-top: 0.5%;
}

.fechadiv {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    padding-top: 1%;
}

.titulo {
    text-align: center;
    padding-top: 2%;
}

.erroralert {
    text-align: center;
}